html, body {
  height:100%;
  margin:0;
  padding:0;
}

.form-group {
  display: table;
  width: 50%;
  height:50%;
  margin: 0 auto;
  margin-top: 10%;
}


.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.btn-success{
  margin: 0 auto;
  color: black;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}




/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

